@use "helper" as *;

$border-widths: (
  none: rem(0px),
  md: rem(1px),
  lg: rem(2px),
);

$border-colors: (
  none: (
    light: "transparent",
    dark: "transparent",
  ),
  divider-header: (
    light: "neutral-550",
    dark: "neutral-550",
  ),
  default-focus: (
    light: "primary-500",
    dark: "primary-500",
  ),
);

$borders: (
  none: (
    width: "none",
    style: "solid",
    color: "none",
  ),
  divider-header: (
    width: "md",
    style: "solid",
    color: "divider-header",
  ),
  default-focus: (
    width: "lg",
    style: "solid",
    color: "default-focus",
  ),
);
