// bs-none is used for transitions
$box-shadow-colors: (
  none: (
    light: "transparent",
    dark: "transparent",
  ),
  default: (
    light: "neutral-500" 0.1,
    dark: "neutral-500" 0.1,
  ),
  filter-list: (
    light: "neutral-500" 0.25,
    dark: "neutral-1000" 0.25,
  ),
);

$box-shadows-offsets: (
  none: 0px 0px 0px 0px,
  default: 0px 10px 10px -10px,
  filter-list: 0px 10px 20px 0px,
);

$box-shadows: (
  default: (var(--box-shadow-default)),
  filter-list: (var(--box-shadow-filter-list)),
);
