// bs-none is used for transitions
$box-shadow-colors: (
  none: (
    light: "transparent",
    dark: "transparent",
  ),
  default: (
    light: "neutral-500" 0.1,
    dark: "neutral-500" 0.1,
  ),
);

$box-shadows-offsets: (
  none: 0px 0px 0px 0px,
  default: 0px 10px 10px -10px,
);

$box-shadows: (
  default: (var(--box-shadow-default)),
);
