// Primitives
$color-core-neutral: (
  "000": hsl(0 0% 100%),
  "050": hsl(240 27% 98%),
  "100": hsl(231 73% 93%),
  "300": hsl(231 37% 63%),
  "400": hsl(231 20% 61%),
  "450": hsl(231 23% 61%),
  "500": hsl(231 38% 45%),
  "550": hsl(231 20% 36%),
  "600": hsl(231 20% 27%),
  "700": hsl(233 30% 21%),
  "800": hsl(233 31% 17%),
  "900": hsl(233 30% 11%),
  "950": hsl(228 29% 7%),
  "1000": hsl(0 0% 0%),
);

$color-core-accent: (
  "red": (
    "400": hsl(0 100% 80%),
    "500": hsl(0 80% 63%),
  ),
  "green": (
    "500": hsl(160 67% 52%),
  ),
  "orange": (
    "500": hsl(34 100% 50%),
  ),
);

$color-core-brand: (
  "primary": (
    "400": hsl(252 100% 73%),
    "500": hsl(252 94% 67%),
  ),
);

$color-core-gradient: (
  // 1: (
  //   start: hsl(192 100% 67%),
  //   end: hsl(280 87% 65%),
   // ),
);

// Has Themes
$has-themes: true;

// Default-brand
$default-brand: "primary";

// Background-colors
$background-colors: (
  canvas: (
    default: (
      light: "neutral-050",
      dark: "neutral-900",
    ),
  ),
  container: (
    default: (
      light: "neutral-000",
      dark: "neutral-900",
    ),
    weak: (
      light: "neutral-050",
      dark: "neutral-700",
    ),
    strong: (
      light: "neutral-600",
      dark: "neutral-950",
    ),
    header: (
      light: "neutral-600",
      dark: "neutral-800",
    ),
    form: (
      light: "neutral-000",
      dark: "neutral-900",
    ),
  ),
  text: (
    selection: (
      light: "primary-500",
      dark: "primary-500",
    ),
    target: (
      light: "primary-500",
      dark: "primary-500",
    ),
  ),
);

// Foreground-colors
$foreground-colors: (
  text: (
    base: (
      light: "neutral-400",
      dark: "neutral-100",
    ),
    emphasised: (
      light: "neutral-300",
      dark: "neutral-100",
    ),
    strong: (
      light: "neutral-950",
      dark: "neutral-000",
    ),
    selection: (
      light: "neutral-000",
      dark: "neutral-000",
    ),
    target: (
      light: "neutral-000",
      dark: "neutral-000",
    ),
  ),
  logo: (
    idle: (
      light: "neutral-000",
      dark: "neutral-000",
    ),
  ),
  theme-icon: (
    idle: (
      light: "neutral-300",
      dark: "neutral-450",
    ),
    hover: (
      light: "neutral-100",
      dark: "neutral-100",
    ),
  ),
);
