@use "helper" as *;

// Buttons
$button-colors: (
  primary: (
    idle: (
      bg: (
        light: "primary-500",
        dark: "primary-500",
      ),
      fg: (
        light: "neutral-000",
        dark: "neutral-000",
      ),
    ),
    hover: (
      bg: (
        light: "primary-400",
        dark: "primary-400",
      ),
      fg: (
        light: "neutral-000",
        dark: "neutral-000",
      ),
    ),
  ),
  secondary: (
    idle: (
      bg: (
        light: "neutral-050",
        dark: "neutral-700",
      ),
      fg: (
        light: "neutral-300",
        dark: "neutral-100",
      ),
    ),
    hover: (
      bg: (
        light: "neutral-100",
        dark: "neutral-000",
      ),
      fg: (
        light: "neutral-300",
        dark: "neutral-300",
      ),
    ),
  ),
  danger: (
    idle: (
      bg: (
        light: "red-500",
        dark: "red-500",
      ),
      fg: (
        light: "neutral-000",
        dark: "neutral-000",
      ),
    ),
    hover: (
      bg: (
        light: "red-400",
        dark: "red-400",
      ),
      fg: (
        light: "neutral-000",
        dark: "neutral-000",
      ),
    ),
  ),
  save-as-draft: (
    idle: (
      bg: (
        light: "neutral-600",
        dark: "neutral-600",
      ),
      fg: (
        light: "neutral-400",
        dark: "neutral-100",
      ),
    ),
    hover: (
      bg: (
        light: "neutral-950",
        dark: "neutral-800",
      ),
      fg: (
        light: "neutral-400",
        dark: "neutral-100",
      ),
    ),
  ),
  ghost: (
    idle: (
      bg: (
        light: "transparent",
        dark: "transparent",
      ),
      fg: (
        light: "neutral-950",
        dark: "neutral-000",
      ),
    ),
    hover: (
      bg: (
        light: "transparent",
        dark: "transparent",
      ),
      fg: (
        light: "neutral-300",
        dark: "neutral-400",
      ),
    ),
  ),
);

$button-appearance: (
  padding-inline-start: (
    default: rem(24px),
    new-invoice: fluid(6px, 8px),
  ),
  padding-inline-end: (
    default: rem(24px),
  ),
  padding-block: (
    default: rem(18px),
    new-invoice: fluid(6px, 8px),
  ),
  border-radius: (
    default: 1000px,
  ),
  gap: (
    new-invoice: fluid(8px, 16px),
  ),
);
