@use "helper" as *;

// Buttons
$button-colors: (
  primary: (
    idle: (
      bg: (
        light: "primary-500",
        dark: "primary-500",
      ),
      fg: (
        light: "neutral-000",
        dark: "neutral-000",
      ),
    ),
    hover: (
      bg: (
        light: "primary-400",
        dark: "primary-400",
      ),
      fg: (
        light: "neutral-000",
        dark: "neutral-000",
      ),
    ),
  ),
  ghost: (
    idle: (
      bg: (
        light: "transparent",
        dark: "transparent",
      ),
      fg: (
        light: "neutral-950",
        dark: "neutral-000",
      ),
    ),
    hover: (
      bg: (
        light: "transparent",
        dark: "transparent",
      ),
      fg: (
        light: "neutral-600",
        dark: "neutral-200",
      ),
    ),
  ),
);

$button-appearance: (
  padding-inline-start: (
    primary: 24px,
  ),
  padding-inline-end: (
    primary: 24px,
  ),
  padding-block: (
    primary: 18px,
  ),
  border-width: (
    primary: 0px,
  ),
  border-radius: (
    primary: 1000px,
  ),
);

$components: (
  button: (
    color: (),
  ),
);
