@use "helper" as *;

// Buttons
$button-colors: (
  primary: (
    idle: (
      bg: (
        light: "primary-500",
        dark: "primary-500",
      ),
      fg: (
        light: "neutral-000",
        dark: "neutral-000",
      ),
    ),
    hover: (
      bg: (
        light: "primary-400",
        dark: "primary-400",
      ),
      fg: (
        light: "neutral-000",
        dark: "neutral-000",
      ),
    ),
  ),
  ghost: (
    idle: (
      bg: (
        light: "transparent",
        dark: "transparent",
      ),
      fg: (
        light: "neutral-950",
        dark: "neutral-000",
      ),
    ),
    hover: (
      bg: (
        light: "transparent",
        dark: "transparent",
      ),
      fg: (
        light: "neutral-600",
        dark: "neutral-200",
      ),
    ),
  ),
);

$button-appearance: (
  padding-inline-start: (
    primary: rem(24px),
    new-invoice: fluid(6px, 8px),
  ),
  padding-inline-end: (
    primary: rem(24px),
  ),
  padding-block: (
    primary: rem(18px),
    new-invoice: fluid(6px, 8px),
  ),
  border-width: (
    primary: 0px,
  ),
  border-radius: (
    primary: 1000px,
  ),
  gap: (
    new-invoice: fluid(8px, 16px),
  ),
);
