@use "helper" as *;
@use "page" as *;

// Wrapper max-widths
$wrapper-sizes: (
  default: 730px,
);

// Static sizes
$static-sizes: (
  2: 2px,
  4: 4px,
  6: 6px,
  8: 8px,
  10: 10px,
  12: 12px,
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px,
  24: 24px,
  32: 32px,
  40: 40px,
  48: 48px,
  64: 64px,
);

// Breakpoint-specific sizes
$breakpoint-specific-sizes: (
  (24px, 48px, 48px),
  (24px, 36px, 36px),
  (32px, 32px, 40px)
);

//  Logo
$logo-sizes: (
  default: fluid(28px, 40px),
);

// Icon
$icon-sizes: (
  theme: rem(20px),
  arrow-down: rem(10px),
  arrow-right: rem(6px),
  check: rem(9px),
  delete: rem(12px),
  calendar: rem(16px),
);

// Illustration
$illustration-sizes: (
  empty-invoice-list: fluid(206px, 242px),
);

$miscellaneous-sizes: (
  profile-picture: bp(32px, 32px, 40px),
);
