@use "helper" as *;

// Font-family
@font-face {
  font-family: "LeagueSpartan";
  src: url("/fonts/LeagueSpartan.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

$font-family: (
  base: "'LeagueSpartan', system-ui, sans-serif",
);

// Font-weights
$font-weights: (
  thin: 100,
  extra-light: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800,
  black: 900,
);

// Fonts
$fonts: (
  heading-lg: (
    "family": "base",
    "size": bp(24px, 36px, 36px),
    "weight": "bold",
    "line-height": 0.92,
    "letter-spacing": -0.03em,
  ),
  heading-md: (
    "family": "base",
    "size": rem(24px),
    "weight": "bold",
    "line-height": 0.92,
    "letter-spacing": -0.03em,
  ),
  heading-sm: (
    "family": "base",
    "size": rem(15px),
    "weight": "bold",
    "line-height": 1.6,
    "letter-spacing": -0.02em,
  ),
  heading-sm-variant: (
    "family": "base",
    "size": rem(15px),
    "weight": "bold",
    "line-height": 1,
    "letter-spacing": -0.02em,
  ),
  body: (
    "family": "base",
    "size": rem(13px),
    "weight": "medium",
    "line-height": 1.38,
    "letter-spacing": -0.01em,
  ),
  body-variant: (
    "family": "base",
    "size": rem(13px),
    "weight": "medium",
    "line-height": 1.15,
    "letter-spacing": -0.02em,
  ),
);
