.pageLayout {
  block-size: 100%;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
}

.headerLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: var(--layout-lg);
}

.controls {
  display: flex;
  align-items: center;
  gap: var(--space-xl);
}
