.statusTag {
  width: 6.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs);
  font: var(--font-heading-sm);
  letter-spacing: var(--ls--heading-sm);
  text-transform: capitalize;
  border-radius: var(--br-sm);

  &[data-status="paid"] {
    background-color: var(--bg-status-paid);
    color: var(--fg-text-paid);
  }
  &[data-status="pending"] {
    background-color: var(--bg-status-pending);
    color: var(--fg-text-pending);
  }
  &[data-status="draft"] {
    background-color: var(--bg-status-draft);
    color: var(--fg-text-draft);
  }
}
