.button {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font: var(--font-heading-sm-variant);
  letter-spacing: var(--ls--heading-sm-variant);
  text-transform: none;
  text-decoration: none;
  border-radius: var(--btn-border-radius-default);
  border: none;
  padding-inline-start: var(--btn-padding-inline-start-default);
  padding-inline-end: var(--btn-padding-inline-end-default);
  padding-block: var(--btn-padding-block-default);

  cursor: pointer;
  transition:
    background-color var(--trans-fast-out),
    color var(--trans-fast-out),
    outline-color var(--trans-fast-in),
    outline-offset var(--trans-fast-out-sensitive);

  &:disabled {
    cursor: not-allowed;
  }

  &[data-variant="primary"] {
    background-color: var(--btn-bg-color-idle-primary);
    color: var(--btn-fg-color-idle-primary);

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: var(--btn-bg-color-hover-primary);
        color: var(--btn-fg-color-hover-primary);
      }
    }
  }

  &[data-variant="secondary"] {
    background-color: var(--btn-bg-color-idle-secondary);
    color: var(--btn-fg-color-idle-secondary);

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: var(--btn-bg-color-hover-secondary);
        color: var(--btn-fg-color-hover-secondary);
      }
    }
  }

  &[data-variant="danger"] {
    background-color: var(--btn-bg-color-idle-danger);
    color: var(--btn-fg-color-idle-danger);

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: var(--btn-bg-color-hover-danger);
        color: var(--btn-fg-color-hover-danger);
      }
    }
  }

  &[data-variant="save-as-draft"] {
    background-color: var(--btn-bg-color-idle-save-as-draft);
    color: var(--btn-fg-color-idle-save-as-draft);

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: var(--btn-bg-color-hover-save-as-draft);
        color: var(--btn-fg-color-hover-save-as-draft);
      }
    }
  }

  &[data-variant="new-invoice"] {
    gap: var(--btn-gap-new-invoice);
    background-color: var(--btn-bg-color-idle-primary);
    color: var(--btn-bg-color-idle-primary);
    padding-inline-start: var(--btn-padding-inline-start-new-invoice);
    padding-block: var(--btn-padding-block-new-invoice);

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: var(--btn-bg-color-hover-primary);
        color: var(--btn-bg-color-hover-primary);
      }
    }
  }

  &[data-variant="ghost"] {
    background-color: var(--btn-bg-color-idle-ghost);
    color: var(--btn-fg-color-idle-ghost);
    padding: 0;

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: var(--btn-bg-color-hover-ghost);
        color: var(--btn-fg-color-hover-ghost);
      }
    }
  }
}
